.App {
    background-color: black;
}

p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 5vw;
}

@media (max-width: 600px) {
    p {
        font-size: 10vw;
    }
}