.App {
    background-color: black;
}

.scrollArea {
    height: 400vh;
}

p,
span {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 5vw;
}

.pageTwo {
    width: 65vw;
    margin-left: 23vw;
    margin-left: 17vw;
}

.spanTwo {
    color: rgb(0, 200, 255);
    font-size: 20vw;
    padding-right: 20vh;
}

.spanThree {
    color: rgb(255, 0, 0);
    font-size: 17vw;
}

.pageThree {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 9vw;
    width: 65vw;
    margin-left: 23vw;
}

.pageFour {
    font-size: 15vw;
}

@media (max-width: 600px) {
    p,
    span {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 8vw;
    }
    p {
        width: 95vw;
        margin-left: 2.5vw;
        align-items: center;
        color: rgb(255, 255, 255);
    }
    .spanTwo {
        font-size: 25vw;
    }
    .spanThree {
        color: red;
        font-size: 25vw;
    }
    .pageThree {
        display: flex;
        flex-direction: column;
        font-size: 24vw;
    }
}